
#searcher {
	float:right;
	margin-top:9px;
	margin-right:5px;
	width : auto;
	height : 18px;
	}


#navigation {
  float: left;
  width: 12em;
  color: #777777;
  padding: 1em 1em 3em 1em;
}
#navigation ul {
  list-style: none;
  font-weight: 400;
  line-height: 1.7em;
}
#navigation ul > li {
  padding-left: 20px;
}
#navigation ul > li:hover {
  background: url("images/bullet.gif") no-repeat scroll left 0.7em transparent;
}
#navigation ul > li > a {
  color: #777777;
  text-decoration: none;
  border-bottom: none;
}
#navigation li.current > a {
  font-weight: 800;
  color: #444444;
}




.sitemenu {
  position: relative;
  height: 1.4em;
  margin-top: 0.5em;
}
.sitemenu ul {
  position: absolute;
  list-style: none;
}
.sitemenu li {
  float: left;
  padding: 2px 10px 2px 0;
  color: white;
  position: relative;
}
.sitemenu li + li {
  padding-left: 10px;
  border-left: 1px solid #B9F2B9;
}
.sitemenu li.current > a, .sitemenu li.currentpath > a {
  font-weight: 800;
  color: #B9F2B9;
}
.sitemenu li > a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}
.sitemenu li:hover > a {
  color: #B9F2B9;
}
.sitemenu li ul {
  display: none;
}
.sitemenu li:hover ul {
  display: block;
  background-color: #B9F2B9;
  border: 1px solid #719471;
  left: -1px;
}
.sitemenu li ul li {
  float: none;
  padding-left: 10px;
  padding-right: 10px;
}
.sitemenu li:hover ul li {
  border: none 0;
  white-space: nowrap;
}
.sitemenu li:hover ul li + li {
  border-top: 1px solid #719471;
}
.sitemenu li:hover ul li a {
  color: #444444;
}
.sitemenu li:hover ul li:hover {
  background-color: #719471;
}
.sitemenu li:hover ul li:hover a {
  color: #B9F2B9;
}




#topnav{
position : relative;
	width : 1016px;
	margin : 10px auto 15px;
	height : 50px;
		padding : 0px 2px;
z-index : 2000;
        background:transparent url(images/nav.png) center -5px no-repeat;



	
}

#topnav ul, #topnav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Georgia, "Times New Roman", Times, serif;

	}
	
	
#topnav ul,#topnav li a{
 border-right : 1px solid #1C1C1C;

	}

#topnav li a:link, #topnav li a:visited{
	display:block;
	margin:0 0 0 0;
	padding:10px 15px;
	color:#FFFFFF;


	}
	
	#topnav li a.active{
	}

#topnav li a:hover{
	color:#FFFFFF;
	}
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;

	float:none;
	margin:0;
		padding:7px 10px;

	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#3399CC;
	}
	#topnav li li a:hover{
	color:#FFFFFF;
	background-color:#1C1C1C;
	}



#topnav li ul{
	z-index:9999;
	position:absolute;

	left: -999em;
	height:auto;
	width:170px;
	border:1px solid #1C1C1C;
	border-top:none;
	border-right:none;
	}

#topnav li ul a{width: 140px;}

#topnav li ul ul{margin: -32px 0 0 0;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{ position: static;}

#topnav li.last a{margin-right:0;}
