/*stili per il layout fluido*/
html,body{margin: 0;padding:0}
head{
link-rel:shortcut icon url("flag.jpg")
}
body{font-family: verdana;
	font-size: 80%;
	/*background-image:url('images/sfondo.jpg');*/
	background-color: red;
	height:80%;}
container{background-color: #90BD09;}

/*stili generici, su header e footer*/
header{background-color:black;color: #FFCC00; font-family:kunstler script;font-size:500%;}
h1,h2{margin: 0;padding:0}
h1{padding-left:10px;font: bold 2.3em/80px; text-align:center}
h2{color: #AD6003;font-size: 1.5em}
footer a{color:#fff;font-weight: bold;text-decoration: underline;}

/*stili specifici per il layout*/
nav{float: left;width: 20%;padding: 10px  10px;background-color:#33CCCC;font-size:100%; margin: 0px  1px;width:210px;}
aside{float:right;width: 15%;padding: 1em 5px;background-color:white;height:50px;color:salmon;padding: 10px  10px;margin: 0px  1px; width:178px;}
section h1{color:white;}
section{margin:0 200px 2px 230px;padding: 1em 5px;background-color: green;height:100%;color:white;}
footer{clear:both; text-align:center; padding: 5px 0;background-color: blue; color: white;	position:relative;bottom:1;width:100%;height:200px;
                font-family:kunstler script;font-size:400%;}

/*stili per la navigazione*/
nav ul{margin: 0;padding: 0; list-style-type: none}
nav li{margin: 0;padding: 0}
nav a{color:#196003;font: normal bold 1.2em/1.4em text-decoration: none}
nav a:hover;color: #AD6003;text-decoration: underline}
nav a#activelink{color: #196003;text-decoration: none}
nav p{font-size: 90%}
 
/*stili per la sezione destra*/

aside h2{color: ;font-size: 1.2em;}
aside p{margin:1px ;}
.one{
     width: 30%;
     
     -webkit-border-radius: 10px;
     background: #f3f3f3;
     border: 10px solid #cccccc;
     float:left;
	 padding: 3px 6px;
     width: 194px;
	 height:200px;
	 text-align:center;
   }
   .two{
     width: 30%;
     
     -webkit-border-radius: 10px;
     background: #f3f3f3;
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 166px;
	 height:289px;
	 background: url("nelson.jpg")
   }
.giovani{
background: url("giovani.jpg") ;
 width: 30%;  
     -webkit-border-radius: 10px;
     
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 166px;
	 height:200px;
	
  }  
  .arresto{
  background: url("arresto.jpg") ;
 width: 30%;  
     webwidth: 30%; 
      -webkit-border-radius: 10px ;
     
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 166px;
	 height:225px;
    }
   
 .presidenza{
  background: url("presidenza.jpg") ;
 width: 30%;  
     webwidth: 30%; 
      -webkit-border-radius: 10px ;
     
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 166px;
	 height:200px;
    }
   .vita{
  background: url("vita.jpg") ;
 width: 30%;  
     webwidth: 30%; 
      -webkit-border-radius: 10px ;
     
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 166px;
	 height:145px;
    }
    td{
    border:1px solid black;
    }
      .four
   {margin:0 200px 2px 230px;padding: 1em 5px;background-color: green;height:100%;color:white;text-align:left;} 