p {
	font-family: sans-serif,serif;
	text-align: justify;
        margin-left: 10%;
	margin-right: 10%;
	text-indent : 0%;
	color:red;
}

h2 {
	font-family: sans-serif;
	color: red;
	font-style: oblique;
}
h3 {
	font-family: sans-serif;
	color: red;
	font-style: oblique;
	margin-left: 5%;
}

tt { 	font-family: "Courier New", monospaced;
        font-size: medium;
	FONT-WEIGHT: bold;  
	color: red;
}
pre {	font-family: "Courier New", monospaced;
        font-size: medium;
	FONT-WEIGHT: bold;  
	color: red;
	margin-left: 8%;
	margin-right: 10%;
 
}

ul {    font-family: sans-serif;
	text-align: justify;
        margin-left: 15%;
        margin-right: 10%;
}

ol {    font-family: sans-serif;
	text-align: justify;
        margin-left: 15%;
        margin-right: 10%;
}

dl {    font-family: sans-serif;
	text-align: justify;
        margin-left: 15%;
        margin-right: 10%;
}

dt {  	FONT-WEIGHT: bold;  
	 color: red;
}

li {  	padding-top: 2%;
}

/*stili per il layout fluido*/
html,body{margin: 0;padding:0}
body{font-family: verdana;
	font-size: 80%;
	background-color:white;}
div#content{background-color:white;}


/*stili generici, su header e footer*/
div#header{background-color:white; font-family:Brush Script MT;}
h1,h2{margin: 0;padding:0: color: #9ACD32;}
h1{padding-left:10px;font: bold 2.3em/80px; text-align:center}
h2{color: black;font-size: 1.3em}
h4{color:black; font-size:0.85em; font-family:Arial Narrow;}
h5{color: black;font-family:Arial Narrow;}
div#footer{font-family:Brush Script MT; font-size:2.0em;}

div#footer a{color:#fff;font-weight: bold;text-decoration: underline}

/*stili specifici per il layout*/
div#navigation{float: left;width: 220px;\width:230px;w\idth:220px;padding: 1em 0 0 5px;
border-right:solid 1px black;}
div#extra{float: right;width: 170px;\width:180px;w\idth:170px;padding: 1em 5px: color: #9ACD32;}
div#content{margin:0 400px 20px 330px;padding: 1em 10px;background-size:cover;height:95%;}
div#footer{clear:both; text-align:center; padding: 5px 0;
    background-image:url(img/alien.jpg); color: #606060;}

/*stili per la navigazione*/
div#navigation ul{margin: 0;padding: 0; list-style-type: none}
div#navigation li{margin: 0;padding: 0}
div#navigation a{color:#196003;font: normal bold 1.2em/1.4em text-decoration: none}
div#navigation a:hover{color: #9ACD32;text-decoration: underline}
div#navigation a#activelink{color: #9ACD32;text-decoration: none}
div#navigation p{font-size: 90%}

/*stili per la sezione extra*/
div#extra div.newsbox{font-size: 90%;margin-bottom: 2em;color: #9ACD32;}
div#extra div.newsbox h2{color: #9ACD32;font-size: 1.2em}
div#extra div.newsbox p{margin: 0}