table th{
border:solid 1px #000000;
}
div.centrato{
text-align:center;
}
table.centrata{
margin-left:auto;
margin-right:auto;
}
table{
border-collapse:collapse;
}
.testoVerde{
color: green;
font-size: 100%;
}
h1{
text-align:center;
}
