table td{
border:solid 2px #00BFFF;
}
table{
border-collapse:collapse;
}
.testoRosso{
font-weight: bold;
color: red;
font-size: 120%;
text-align:left;
}
.testoVerde{
font-weight: bold;
color: green;
font-size: 120%;
text-align:left;
}
.testoBlue{
font-weight: bold;
color: blue;
font-size: 120%;
text-align:left;
}
.testoPurple{
font-weight: bold;
color: purple;
font-size: 120%;
text-align:left;
}
