nav{
float:left;
width:21.5%
}
h2{
color:darkblue;
font-family:Verdana;
}
h3{
color:blue;
font-family:Verdana;
margin-left:-60px;
}
section{
margin-left:360px;
font-family:verdana;
}
