/* -- Import Lybraries -- */
@import url(reset.css);
@import url(960gs.css);

/* Basics */
body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
}

h2 {
    color: #F58529;
    font-size: 140%;
    padding: 10px 0 20px;
}
h3, h4 {
    color: #666;
    font-size: 120%;
    padding: 5px 0 10px;
}
h4 { color: #666; padding: 20px 0 5px; }

p {
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

a { color: #F58529 }

ul, ol { margin: 10px; list-style: disc inside; line-height: 20px; }
ol { list-style-type: decimal; }

/* -- Header -- */
#header {
    background-color: orange;
    border-bottom: 10px solid #F58529;
    height: 100px;
}


ul#menu {
list-style: none;
margin:0 auto;
width: 400px;}

#menu li {float: left;}

#menu li a {
  color: blue;
  font-weight: bold;
  display:block;
  line-height: 50px;
  height: 40px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

#menu li a:hover, #menu li a.active {
  background-color: #F58529;
}

/* -- Container -- */
#wrapper .post, #wrapper .advertise {
  margin-bottom: 20px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.post p.meta { font-size: 12px; text-align: right;}
.post p.img, .advertise p.img { text-align:center; }



#sidebar p.about { border-left: 5px solid #ccc; padding-left: 10px; }
    
#sidebar ul { margin: 10px 0; }
#sidebar li {
  line-height:25px;
  list-style: disc inside;
  padding-left: 15px;
}

/* -- Footer -- */
#footer {
  background-color: #FAA53A;
  border-top: 5px solid #F58529;
  height: 50px;
  clear: both;
  overflow: hidden;
}
#footer p {
  line-height: 50px;
  text-align: center;
}