nav h4{
font-family:Baskerville Old Face;
}
nav{
border-right:solid 1px black;
float:left;
width:20%;
text-align:right;
padding-right:10px;
}
.one{
float:right;
width:20%;
text-align:left;
padding-right:800px;

}

