td {
background:#FAF4E4;
width:500px;
height:auto;
}

article{
width:400px;
}

.ombra{
	margin: 10px;
	padding: 0;
	border: 1px solid rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 1px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 1px 10px rgba(0,0,0,0.3);
}






























































































/* JOMARI Oliveros */