*{
    margin:0;
    padding:0;
}
body{
background-color:black;
color:white;
}
.info a.back{
	position: absolute;
	bottom:30px;
	left:20px;
	text-decoration:none;
	color:#603d05;
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
}
.info a.back:hover{
	color:#000;
}
#header{
position:absolute;
    top:10px;
    left:20px;
    width:900px;
    height:80px;
    font-size:16px;
background-color:black;
color:white;
}
section{
margin:90px 200px 10px 280px;
padding: 1em 10px;
background-color: #111111;
height:95%;
font-size:18px;

}
div#nav{
float: left;
width: 170px;
width:180px;
width:170px;
padding: 1em 5px;
color:white;
}
section .text{
    padding:300px 0px 0px 150px;
    background:transparent url();
}
#navigation li {
        list-style:right;
        display: block;
        float: right;
        margin: 0.3em;
        background-color:white;
        
}
#navigation li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration:right;
        color: #000000;
        font-size: 1.3em;
        margin: 0.5em;
        display: block;
        background-color:white;
}
#navigation li a:hover {
        margin-top: 2px;
}
#navigation_container {

   position:absolute;
   top:10px;
   left:300px;
   width: 960px;
}
footer{
text-align:right;
color:black;
background-color:#D2D2D2;
font-family:Algerian;
opacity:0.5;
}