html, body{
	color:black;
	margin:0;
	background: url('../img/sfondo.jpg');
	background-size: 100%;
	background-attachment:fixed;
}

body{

}

header{
	background: rgba(14, 15, 24, 0.66);
	margin: 2% auto;
	display: block;
	line-height: 0;
	max-width: 75.000em;
	height: auto;
	border: 0.313em solid #37344E;
	width: 89%;
	box-shadow: 0 0.063em 0.188em #000;
	text-align:center;
}

section{
	box-shadow: 0 0.063em 0.188em #000;
	background: rgba(14, 15, 24, 0.66);
	color: #888;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	line-height: normal;
	margin-top: 1.563em;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0;
	padding: 1em;
	width: 86%;
	margin: auto;
	text-align:center;	
}

footer {
	background: #111 url('http://blaster8.altervista.org/img/LogoBlaster.png') no-repeat left bottom;
	background-position: 10%;
	margin: auto;
	font-family: Fenix, serif;
	font-size: 1em;
	text-align: center;
	color: #777;
	margin-top:2.5%;
	height:150px;
}

.testo {
	padding: 0.313em;
	margin-left: auto;
	margin-right: auto;
	font-size:23px;
}

div#cont{
	text-align:center;
}

#fooTerFont{
	margin: 0 0.5em;
	font-size: 1em;
	display: inline-table;
	color: #777;
	text-align:left;
	width:20%;
	text-align:center;
}

#fooTerFont h4{
	text-align:center;
	color: white;
}

#fooTerFont a:hover{
	color:red;
}

h1{
	color:red;
}

table{
	border:1px solid;
	text-align:center;
	margin:auto;
}

table tr td{
	border:1px solid;
	text-align:center;
	margin:auto;
}

td{
	background: rgba(56, 58, 73, 0.66);
	width:250px;
	height:30px;
}

a:link, a:visited{
	text-decoration: none;
	color:#888;
}

a:hover{
	color:white;
}

p#pInd{
	text-align:right;
	font-weight:700;
}

ul{
	text-align:left;
}

img{
	width:85%;
}

h2{
	text-align:center;
	color:red;
}