
		
		.animate	{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
				
		.flexslider	{position: relative; top:0; left:0;margin:0;padding:0;}
		
		.flex-control-nav 	{bottom: 35%; }
		
		.flex-direction-nav {display:none;}	
		
		.flex-caption		{position: absolute; top:35%; text-shadow:  0px 0px 10px #000;left:0;text-align: center;width:100%;color:#fff;}
	
		.flex-caption h1	{font-size: 85px;margin:0 0 10px 0;font-weight:200;font-family: Source Sans Pro;text-transform: uppercase}
		
		.flex-caption p		{font-size: 20px;margin:0;font-weight:200;font-family: Source Sans Pro;letter-spacing: 5px}
		
		