
html,body{margin: 0;padding:0}
head{
link-rel:shortcut icon url("flag.jpg")
}
body{font-family: verdana;
	font-size: 80%;
	
	background-color: red;
	height:80%;}
container{background-color: #90BD09;}

header{background-color:black;color: #FFCC00; font-family:kunstler script;font-size:500%;-webkit-border-radius: 10px;}
h1,h2{margin: 0;padding:0}
h1{padding-left:10px;font: bold 2.3em/80px; text-align:center}
h2{color: #AD6003;font-size: 1.5em}
footer a{color:#fff;font-weight: bold;text-decoration: underline;}


aside{width: 30%;
margin-top:20px;
    margin:1px 300px 400px 290px ;
     -webkit-border-radius: 10px;
     background: #f3f3f3;
     border: 10px solid #cccccc;
     float:left;
	 padding: 3px 6px;
     width: 194px;
	 height:200px;
	 text-align:center;}
section h1{color:white;}
section{margin:0 400px 100px 600px;padding: 0em 10px;background: url(monitor.jpg);background-size:500px;background-repeat:no-repeat;height:500px;color:white;-webkit-border-radius: 50px; width:500px; float:center;}
footer{margin:0 400px 100px 600px; text-align:center; padding: 5px 0; color: white;bottom:1;width:460px;height:70px;
                font-family:georgia;font-size:100%;-webkit-border-radius: 10px;border: 10px solid #cccccc; background:#f3f3f3:}


 

aside h2{color: ;font-size: 1.2em;}
aside p{margin:1px ;}
.one{
     width: 30%;
     margin:200px 500px; 
     -webkit-border-radius: 10px;
     background: #f3f3f3;
     border: 10px solid #cccccc;
     float:right;
	 padding: 3px 6px;
     width: 240px;
	 height:250px;
	 text-align:center;
   }