/* test */

html {
	font-size: 100%;
	}
	
body {
	font-size: 1em;
	line-height: 1.127em;
	font-family: Arial, sans-serif;
	color: #e8e8e8;
	background: url(/images/shared/background_tile.gif) top center repeat-x #000;
	padding: 0;
	margin: 0;
	text-align: center;
	}
	
/*generic*/
form,
fieldset,
input,
legend,
textarea,
ul,
ol,
dl {
	margin:0;
	padding:0;
	}
	
form p {
	margin: 0 0 0.62em 0;
	line-height: normal;
	clear: both;
	}
	
	form p.formnote {
		padding: 0 30px 20px 265px;
		}
	
img,
fieldset {
	border: none;
	}
	
fieldset input,
fieldset select {
	color: #595959;
	background: #E8E8E8;
	padding: 0.63em;
	}

#processing {
	display: none;
	}
	
table {
	border-collapse: collapse;
	width: 100%;
	empty-cells: show;
	}
	
	table.checkout_confirmation_table {
		width: 43.45em;
		}
		
td, th {
	text-align: left;
	}
	
th {	
	color: #b8b8b8;
	}

td {
	color: #fff;
	}
	
td p {
	font-size: 1em;
	}


#buyers_guides table {
	margin-top: 1em;
	width: 690px;
	}
	
#buyers_guides table th, 
#buyers_guides table td {
	border-color: #444;
	background-color: #000;
	padding: 0.5em;
	vertical-align: top;
	}
	
	#buyers_guides table .setwidth1 {
		width: 65px;
		}
		
	#buyers_guides table .setwidth2 {
		width: 25%;
		}
	
/*definition list used for product details*/
dl {
	width: 100%;
	}
	
dd,
dt {
	width: 50%;
	display: block;
	margin: 0;
	padding:0;
	float:left;
	}
/*end definition list used for product details*/

/*end generic*/

/* typography */
h1 {
	font-size: 2.1818em;
	line-height: 0.625em;
	margin: 0.625em 0.166em;	
	}
	 
h2 {
	font-size: 2em;
	line-height: 0.681em;
	margin: 0.681em 0;
	}
	
h3 {
	font-size: 1.13em;
	line-height: 1.25em;
	margin: 0.75em 0;
	}
	 
h4 {
	font-size: 1em;
	line-height: 0.8333em;
	margin: 0.8333em 0;
	}
	
h5 {
	font-size: 0.88em;
	line-height: 0.9375em;
	margin: 0.9375em 0;
	}
	
legend {
	font-size: 1.44em;
	color: #d0a91c;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: normal;
	}
	
p,
ul,
ol,
dl,
td,
th,
.vcard h5 {
	font-size: 0.75em;
	margin: 1.365em 0;
	line-height: 1.365em;
	}
	
li {
	background: url(/images/shared/bullet_white.gif) 0 0.2em no-repeat;
	margin: 0 1em;
	list-style-type: none;
	margin: 0 0 0.5em 1.5em;
	padding-left: 1.5em;
	}
	
ol li {
	background: none;
	padding-left: 0;
	list-style-type: decimal;
	margin-left: 3em;
	}
	
	ol.roman li {
		list-style-type: lower-roman;
		}

a {
	color: #f8d202;
	text-decoration: none;
	}
/*end typography*/

/*forms*/
input,
select,
button,
textarea {
	font-family: Arial, sans-serif;
	border: none;
	font-size: 1.17em;
	color: #efefef;
	width: 12em;
	}	

input,
textarea,
select {
	color: #595959;
	background: #E8E8E8;
	padding: 0.63em;
	}

button {	
	background: #efefef;
	color: #484848;
	text-align: left;
	font-weight: bold;
	}
	
label {
	width: 47%;
	display: block;
	float:left;
	margin: 0 1.5em 0 0;
	padding: 0.45em;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 1.33em;
	}

label em {
	color: #f0bc01;
	}

.checkbox,
button {
	width: auto;
	margin: 0 1em 0 0;
	}
	
.checkbox{
	background: none;
	margin: 0.8em 1em 0 0;
	}

form#product_search {
	overflow: hidden;
	padding: 0 0 20px 160px;
	}

form#product_search p label {
	position: absolute;
	top: -200px;
	}
	
	form#product_search p input {
		float: left;
		width: 180px;
		}
		
	form#product_search p button {
		float: right;
		background: url(/images/shared/search_button_bg.png) top left no-repeat;
		width: 99px;
		height: 50px;
		margin: -9px 20px 0 0;
		cursor: pointer;
		padding: 0 10px;
		}

/*radio button/checkboxes*/
.group label {
	width: auto;
	}
	
.group input {
	float:left;
	}
/*end radio button/checkboxes*/

/*end forms*/

/*watch #multipleitems in IE7 - for IE7 you need to use display:inline-block which will override the display: none; if you use more than one class on an element*/
.item:after,
.subcategory:after,
#checkout .delivery_address:after,
#multipleitems:after,
.product:after,
#notification:after,
#general_errors:after,
#content_main h2:after,
#main:after,
p:after,
ul:after,
dl:after,
.show_all_brands:after {
	content: ".";
	display: block;
	height: 1em;
	font-size: 0;
	clear: both;
	visibility: hidden;
	}
	
/*layout*/
#main {
	margin: 0 auto 0 auto;
	text-align: left;
	background: url(/images/shared/page_background_tile.gif) repeat-y #242327;
	width: 60em;
	padding: 0;
	}
	
/*8 column grid*/
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
	float: left;
	display: block;
	position: relative;
	}
	
.box1 {
	width: 7.5em;
	}
	
.box2 {
	width: 15em;
	}
	
.box3 {
	width: 22.5em;
	}
	
.box4 {
	width: 30em;
	}
	
.box5 {
	width: 37.5em;
	}
	
.box6 {
	width: 45em;
	}
	
.box7 {
	width: 52.5em;
	}
	
.box8 {
	width: 60em;
	}
/*end layout*/

/*panels*/
#header {
	background: url(/images/shared/header_background.png) top center no-repeat;
	height: 289px;
	}

#main_navigation ul {
	background: url(/images/shared/mainnav_background.png) no-repeat;
	width: 950px;
	height: 46px;
	margin: 15px 5px 0 5px;
	}
		
	#main_navigation ul li {
		background: none;
		display: block;
		float: left;
		line-height: 46px;
		font-size: 1.42em;
		padding: 0;
		margin: 0;
		}
		
	#main_navigation ul li a {
		color: #000;
		width: 155px;
		display: block;
		text-align: center;
		}
		
	#main_navigation ul li a:hover {
		background: url(/images/shared/mainnav_roll_bg.png) no-repeat;
		}

ul#primary_nav,
ul#loginreg,
ul#tertiary_nav {
	margin: 0;
	}

ul#primary_nav li,
ul#loginreg li,
ul#tertiary_nav li,
#bookmarking ul li,
#shopping_basket ul li {
	background: none;
	display: inline;
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 2px;
	background: #1b1b1b;
	}

ul#primary_nav li a,
ul#loginreg li a,
ul#tertiary_nav li a {
	color: #a6aeb3;	
	}

ul#primary_nav {
	margin: 0 0 0 30px;
	}

ul#tertiary_nav {
	margin: 0 0 30px 0.64em;
	}

#general_errors ul li, #bookmarking ul li, #footer ul li.last, #header ul li.last {
	border: none;
	}	
	
#header #logo h2 {
	margin: 0;
	}
	
#header #logo h2 a, #header #logo h1 {
	background: transparent url(/images/shared/logo/drunknmunky-store_logo.png);
	text-indent: -100000px;
	display: block;
	padding: 0 0 105px 0;
	margin: 50px 0 0 15px;
	width: 354px;
	height: 0;
	overflow: hidden;
	}
	
#header #product_search p {
	margin: 3em 0 0 0;
	}

#header #product_search label {
	width: auto;
	}

#header #shopping_basket {
	padding: 0;
	margin: 0;
	}

	#header #shopping_basket .fleft {
		width: 195px;
		padding-left: 160px;
		}		

	#header #shopping_basket p {
		color: #f8d202;
		margin: 0 0 0.62em 0;	
		}
	
	#header #shopping_basket p span {
		font-size: 1.17em;
		}
	
	#header #shopping_basket p span strong {
		font-size: 1.57em;
		}
	
	#header #shopping_basket ul {
		float: right;	
		padding: 0 20px 0 0;
		margin: 0;
		}
	
	#header #shopping_basket ul li {
		display: block;
		background: #1b1b1b;
		float: none;
		padding: 0.31em 0.62em;
		margin: 0 1.25em 0 0;
		}
	
	#header #shopping_basket li.checkoutbutton {
		background: url(/images/shared/checkout_button_bg.png) top left no-repeat;
		margin: 0 0 0.62em 0;
		padding: 0px;
		height: 35px;
    width: 95px;
		line-height: 35px; 
		}
	
	#header #shopping_basket li.checkoutbutton a {		
		height: 35px;
		text-indent: 5px;
		display: block;
		font-size: 1.17em;
		font-weight: bold;
		color: #362c00; 
		}

#header ul#loginreg {
	text-align: right;
	margin-right: 20px;
	}
		
/*messages*/
/*bad messages*/
#general_errors {
	clear: both;
	}
	
#general_errors .item {
	border: 2px solid #F8D202;
	background: #000;
	margin: 20px 10px;
	padding: 20px;
	}
	
	#general_errors .item h3 {
		margin-top: 0;
		}	
	
	#general_errors .item ul {
		margin: 0;
		}
	
	#general_errors .item h3,
	#general_errors .item p,
	#general_errors .item li {
		color: #F8D202;
		font-size: 1em;
		}

/*nice messages*/
#notification {
	color: green;
	}
	
#notification .item {
	border: 2px solid #F8D202;
	background: #000;
	margin: 20px 10px;
	padding: 20px;
	}
	
	#notification .item p {			
		color: #F8D202;
		font-size: 1em;
		margin-bottom: 0;
		}
		
.errors {
	color: red;
	}

ul.errors li {
	font-size: 1.17em;
	color: #000;
	background: url(/images/shared/error_icon.gif) no-repeat 2px 2px #eeab00;
	margin: 0;
	padding: 6px 2px 6px 35px;
	margin-bottom: 2px;
	font-style: italic;
	}

ul.errors li span {
	font-size: 1.14em;
	font-weight: bold;
	}
	
.required em,
.error_icon {
	font-weight: bold;	
	color: #f0bc01;
	}

fieldset {
	margin-bottom: 20px;
	}
	
.promo-panel {
	margin: 20px 0;
	}
	
/*end messages*/
#content_left form label {
	display: none;
	}
	
#content_left form select,
#content_left form input {
	width: 90%;
	}
	
/*left categories list*/
/*allows for one level of nesting*/
#content_left .box2 {
	float: none;
	}
	
#content_left h3 {
	font-style: italic;
	}
	
#content_left ul,
#content_left #recently_viewed,
#content_left .checkout_info {
	background: url(/images/shared/subnavigation_background_tile.gif) repeat-y;
	padding: 0 0 15px 0;
	margin: 0 0 16px 16px;
	width: 210px;
	}
	
#content_left ul li {
	background: none;
	list-style: none;
	padding: 1em 0;
	margin: 0;
	}

#content_left .checkout_info {
	padding: 0.5em;
	width: 190px;
	}

#content_left ul li.alt-cat {
	padding: 0.5em 0 0 0;
	}
	
#content_left ul li a {
	color: #e8e8e8;
	}
	
#content_left ul li.alt-cat a {
	color: #f0bc01;
	}	

#content_left ul li ul,
#content_left ul li ul li ul,
#content_left ul li h2,
#content_left #recently_viewed h3 {
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.363636em;
	border: none;
	margin: 0;
	padding: 0 0 0.5em 0;
	}
	
#content_left .checkout_info h3 {
	color: #F8D202;
	}
	
#content_left .checkout_info table td,
#content_left .checkout_info table th {
	border: none;
	}

#content_left ul li h2 {
	border-bottom: 1px solid #6e6e6e;
	padding: 0 13px 0 0;
	margin-left: 13px;
	}
	
#content_left ul li.alt-cat h2 {
	border-bottom: 1px solid #94854e;
	}
	
#content_left ul li ul {
	background: none;
	width: auto;
	padding: 1em 0 0 0;
	}
	
#content_left ul li ul li ul {
	padding-left: 1em;
	width: auto;
	}
	
#content_left ul li ul li ul li,
#content_left ul li ul li {
	border: none;
	padding: 0;
	line-height: 1.5em;
	}
	
#content_left ul li ul li.off,
#content_left ul li ul li.on {
	background: url(/images/shared/bullet_white.gif) 0 7px no-repeat;
	font-weight: bold;
	padding-left: 13px;
	}
	
#content_left ul li ul li ul li.off,
#content_left ul li ul li ul li.on {	
	background: none;
	padding: 0;
	font-weight: normal;
	}	
	
#content_left ul li ul li.on,
#content_left ul li ul li ul li.on {
	font-weight: bold;
	background-color: #000;
	}
	
	#content_left ul li ul li ul li.on a,
	#content_left ul li ul li.on a {
		color: #F0BC01;
		}

#content_left ul li ul li ul li {
	font-size: 0.58em;
	font-style:normal;
	margin: 0;
	}


#content_left #recently_viewed {
	background: none;
	margin: 0;
	width: auto;
	padding: 0;
	}
	
#content_left #recently_viewed h3,
#content_right h2 {
	background: url(/images/shared/recently-viewed_bg_tile.gif) left bottom no-repeat;	
	font-size: inherit;
	color: #6c6b6a;
	padding: 5px 0 0 27px;
	margin: 0 7px;
	}
	
#content_left #recently_viewed .item,
#content_right .item {	
	background: url(/images/shared/recently-viewed_bg_tile.gif) left top repeat-y;
	float: none;
	margin: 0 7px;
	width: auto;
	padding: 20px 27px 10px 27px;
	}
	
	#content_left #recently_viewed .item a img,
	#content_right .item a img {
		/* width: 170px;
		height: 170px; */
		}
	
	#content_left #recently_viewed .item h3 {
		background: none;
		font-size: 0.75em;
		}
		
	#content_left #recently_viewed .item h3 {
		padding: 0;
		margin: 5px 0 10px 0;
		}
		
	#content_left .promo-panel {
		text-align: center;
		}
/*end left categories list*/

/*right hand column*/
	#content_right .box6 {
		width: 15em;
		}	
		
	#content_right h2 {
		font-size: 1.13em;
		font-style: italic;
		line-height: inherit;
		}	

/*content column*/
	#content_main h1,
	#content_main h2 {
		background: url(/images/shared/h2_background.gif) #605f5d bottom right no-repeat;
		line-height: 36px;
		color: #222324;
		font-style: italic;
		margin: 0 25px 15px 0;
		padding: 0 135px 5px 5px;
		clear: both;
		position: relative;
		}
		
	#content_main h1 a,
	#content_main h2 a {		
		color: #222324;
		}
	
	#content_main h2.relatedheading {
		background: url(/images/shared/h2_background_2.gif) #e6a109 bottom right no-repeat;		
		}
	
	body#news #content_main .item,
	body#competition #content_main .item,
	body#links #content_main .item {
		border-bottom: 1px solid #565355;	
		margin-bottom: 20px; 
		}
		
		body#news #content_main .item .box2,
		body#competition #content_main .item .box2,
		body#links #content_main .item .box2 {
			padding-bottom: 20px;
			}
		
	body#news #content_main .item h2,
	body#competition #content_main .item h2,
	body#links #content_main h2,
	body#customer_service #content_main h2 {
		background: none;
		height: auto;
		line-height: normal;
		text-indent: 0;
		color: #f0bc01;
		font-size: 1.5em;
		padding: 0;
		margin-top: 10px;
		}
		
		body#news #content_main .item h2 a,
		body#competition #content_main .item a,
		body#links #content_main .item a,
    body#links #content_main .item h2 a {
			color: #f0bc01;			
			}
		
	body#news #content_main .item h2,
	body#news #content_main .item p,
	body#competition #content_main .item h2,
	body#competition #content_main .item p {
		width: 360px;
		}
		
	body#news #content_main .item p,
	body#competition #content_main .item p ,
	body#links #content_main .item p {
		font-size: 0.75em;
		}
		
	body#news #content_main .item p.date {
		font-weight: bold;
		font-style: italic;
		}
		
	body#news #content_main .item p.button,
	body#competition #content_main .item p.button,
	body#links #content_main .item p.button {
		width: auto;
		float: none;
		margin-bottom: 20px;
		font-size: 0.88em;
		}
		
		body#news #content_main .item p.button a,
		body#competition #content_main .item p.button a,
		body#links #content_main .item p.button a {
			background: url(/images/shared/button_styles/news_button.gif) no-repeat;
			width: 90px;
			height: 40px;
			line-height: 40px;
			color: #484848;
			font-size: 1em;
			}

body#customer_service #content_main h2 {
	margin-top: 40px;
	}
			
body#customer_service table {	
	border-bottom: 1px solid #595959;
	margin: 0 0 20px 0;
	}
	
	body#customer_service table th {
		background: #595959;
		border: 0;
		font-size: 1em;
		padding: 5px 0;
		}
	
	body#customer_service table td {
		border: 0;
		font-size: 1em;
		padding: 5px 0;
		}
		
body#buyers_guides h2 {
	margin-top: 2em;
	}
		
/*crumbtrail*/
#crumbtrail ul li {
	background: none;
	list-style: none;
	float:left;
	display: block;
	margin: 0 0.5em 0 0;
	padding: 0;
	color: #f8d202;
	}
	
#crumbtrail ul li a.on {
	font-weight: bold;
	}
/*end crumbtrail*/

/*checkout process bar*/
#checkout_stages {
	display: block;
	width: 60em;
	overflow: hidden;
	margin-bottom: 1em;
	}
	
#checkout_stages ul {
	border: 1px solid #565355;
	display: block;
	overflow: hidden;
	float: left;
	}
	
#checkout_stages ul li {
	background: url(/images/shared/checkout_stage/stage_bg_right.gif) right no-repeat #2e3031;
	display: block;
	float: left;
	list-style: none;
	color: #565355;
	font-size: 1.33em;
	line-height: 31px;
	height: 31px;
	margin: 0;
	padding: 0 2em 0 1em;
	}

#checkout_stages ul li.previous {
	background: url(/images/shared/checkout_stage/stage_bg_on_right.gif) right no-repeat #2e3031;
	}

#checkout_stages ul li.last {
	background-image: none;
	}
	
#checkout_stages ul li.on {
	background-color: #d0a91c;
	color: #000;
	}
	
body#checkout #content_main h2,
body#checkout #content_main .box6 h3 {
	background: none;
	height: auto;
	line-height: normal;
	text-indent: 0;
	color: #f0bc01;
	font-size: 1.5em;
	font-style: italic;
	padding: 0;
	margin-top: 10px;
	}
/*end checkout process bar*/

body#checkout p.continue,
#basket_form p.continue,
#stock_notification_form p.continue {
	background: url(/images/shared/checkout_stage/continue_bg_right.png) top right no-repeat;
	float: right;
	display: block;
	margin-right: 30px;
	}
	
	body#checkout p.continue button,
	#basket_form p.continue a,
	#stock_notification_form p.continue button {
		background: url(/images/shared/checkout_stage/continue_bg_left.gif) top repeat-x;
		height: 47px;
		line-height: 47px;
		margin: 0 30px 0 0;
		padding: 0 1em;
		font-size: 1.67em;
		color: #2c2400;
		cursor: pointer;
		}
		
	#basket_form p.continue a {
		display: inline-block;
		font-weight: bold;
		text-align: left;
		}

/*vcard(hcard microformat)*/
.vcard h5 {
	margin: 0;
	line-height: normal;
	margin: 20px 0 10px 0;
	font-size: 0.88em;
	}

.vcard .photo {
	float:left;
	}

	.vcard .adr span {
		display: block;
		}
	
.vcard .adr .extended-address,
.vcard .adr .extended-address span,
.vcard .adr .locality,
.vcard .adr .region,
.vcard .adr .country-name,
.vcard .adr .postal-code {
	display: block;
	}
/*end vcard*/


/*'item' is generic - it is just a wrapper inside the 'box' */
/*the idea is you can apply a style site wide or target a page by using the body id*/
/*hopefully this avoids classnames like '.product' and '.newsitem' etc which end up being all the same*/
/*product*/
.item {
	margin: 0;
	width: auto;
	}
	
	#content_main .item {
		margin-bottom: 2em;
		}	
	
	.box2 .item {		
		margin: 0.33em;
		width: 200px;
		}
	
	.item h3  {
		font-size: 0.88em;
		margin: 5px 0;
		line-height: 1.2em;
		}
		
	.item p {
		font-size: 0.69em;
		margin: 0 0 10px 0;
		color: #fff;
		}
		
		.item .box2 p {
			width: 200px;
			}
			
	.item dl {
		}
		
	.item a img {
		margin: 0;
		}
	
	.item h3 a {
		background: #000;
		color: #fff;
		font-weight: bold;
		font-style: italic;
		}
		
	.item .details {
		float: left;
		width: 50%;
		margin: 0;
		}
			
		.item .details dd.now {
			font-size: 2em;
			font-style: italic;
			color: #efb901;
			}
			
	.item p.button {
		float: right;
		margin: 0;
		width: auto;
		}
		
		#addtobasketdiv2 .item p.button {
			padding: 0;
			}
		
	.item p.button a,
	#login_page form button,
	#login_page p.button a,
	body#account #content_main p button,
	body#login #content_main p button,
	body#login #content_main p.button a {
		background: url(/images/shared/button_buynow_bg.gif) no-repeat;
		color: #000;
		width: 85px;
		height: 32px;
		line-height: 32px;
		display: block;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		padding: 0;	
		cursor: pointer;
		font-size: 1.09em;
		}
	
	#content_main .item .box2 p {
		float: none;
		}
	
	body#account #content_main p button {
		display: inline;
		margin-left: 10px;
		}
	
	p.buttons {
		text-align: center;
		margin: 30px 0;
		}
		
/*each order*/
/*news*/
#news #tags ul li {
	display: block;
	float:left;
	list-style: none;
	margin: 0;
	padding: 0 0.5em;
	}
/*end news*/

/*addresses*/
#checkout #header #shopping_basket {
	visibility: hidden;
	}
	
#checkout #multipleitems .item {
	border: 1px solid blue;
	}
	
#checkout .item .text {
	float: left;
	}
	
	#checkout #billing_address ul li,
	#checkout #delivery_address ul li {
		color: #F8D202;
		}
		
#checkout .delivery_address {
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
	}
	
#checkout .edit_address {
	cursor: pointer;
	}
	
#checkout .add_new_address {
	cursor: pointer;
	}
	
#checkout .split_items {
	cursor: pointer;
	}
	
/*end addresses*/

/*single product detail*/
#product {
	clear: left;
	position: relative;
	}
	
	#product h1 {
		background: none;
		color: #fff;
		text-indent: 0;
		line-height: normal;
		height: auto;
		}
		
		#product p {
			clear: both;
			margin: 0;
			position: relative;
			padding: 11px 0;
			margin: 0 0 5px 0;
			}
		
	#product .details {
		position: relative;
		height: 3em;
		margin: 0 0 1em 0;
		}
		
		#product .details dt,
		#product .details dd.save {
			display: none;
			}
		
		#product .details dd.now {
			background: #000;
			font-size: 2.75em;
			font-style: italic;
			color: #efb901;
			position: absolute;
			left: 0;
			text-align: right;
			padding: 0 2px 0 0;
			display: block;
			line-height: 1em;
			}
			
		#product .details dd.was {
			position: absolute;
			right: 0;
			top: 0.7em;
			display: block;
			text-indent: 10px;
			font-size: 1.67em;
			}
			
		#product .additional-info li {
			background: none;
			margin: 0;
			padding: 0;
			font-style: italic;
			font-size: 1.5em;
			line-height: 1.4em;
			}
			
			#product .additional-info li a {
				background: #000;
				color: #fff;
				padding: 0 1em;
				}
		
	#product #bookmarking,
	#news #bookmarking {
		background: url(/images/shared/share-panel_background.gif) no-repeat;
		display: block;
		width: 160px;
		height: 36px;
		overflow: hidden;
		margin-top: 10px;
		}
		
		#product #bookmarking h3,
		#news #bookmarking h3 {
			float: left;
			margin: 0;
			font-size: 1.75em;
			font-style: italic;
			line-height: 36px;
			}
			
		#product #bookmarking ul,
		#news #bookmarking ul {
			margin: 0;	
			float: right;
			}
			
			#product #bookmarking ul li,
			#news #bookmarking ul li {
				display: block;
				float: left;
				padding: 0;
				margin: 0;
				width: 36px;
				height: 36px;
				}
				
			#product #bookmarking ul li a,
			#news #bookmarking ul li a {
				margin: 0;
				padding: 0;
				text-indent: -1000px;
				overflow: hidden;
				}
	
	 #product #addtobasketdiv2 {
      margin-bottom: 20px;
      }
  	
		#product #addtobasketdiv p {
			padding-top: 0;
			padding-right: 20px;
			}
			
		#product #addtobasketdiv p.button {
			padding: 0;
			}
      
     #product #addtobasketdiv ul {
      clear: both;
      }		
		
/*form*/
#add_to_basket_form .optionwrap {
	margin: 0;
	padding: 0 0 5px 0;
	position: relative;
	display: block;
	overflow: hidden;
	line-height: normal;
	}	
	
#add_to_basket_form .optionwrap label {
	text-align: left;
	font-style: normal;
	float: none;
	color: #000;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	}

	#add_to_basket_form .optionwrap select {
		color: #000;
		font-size: 0.88em;
		background: #fff;
		padding: 0;
		margin: 0;
		}
			
	#add_to_basket_form .optionwrap span {
		border: 10px solid #000;
		display: inline-block;
		}
	
.add_to_basket_button,
form#subscribe p button,
form#compform p button,
body#register #content_main p.button button {
	display: block;
	background: url(/images/shared/button_styles/buy-now_background.gif) no-repeat;
	width: 230px;
	height: 68px;
	text-align: center;
	line-height: 68px;
	color: #000;
	font-size: 2.5em;
	cursor: pointer;
	margin: 15px 0 0 0;
	}
	
form#subscribe p button,
form#compform p button,
body#register #content_main p.button {
	margin-left: 120px;
	}
	
#recaptcha-wrapper {
	padding-left: 80px;
	position: relative;
	}
	
	#recaptcha-wrapper span.error_icon {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 0.75em;
		}

form #passstrength {
	float: right;
	clear: both;
	margin: 0 30px 10px 0;
	width: 320px;
	}
		
form #passstrength span {
	font-size: 0.69em;
	}
/*end form*/

/*product overlay bits*/
#productimagebrowser {
	position: relative;
	}

.item .on_sale,
.item .exclusive,
#productimagebrowser .on_sale,
#productimagebrowser .exclusive {
	position: absolute;
	text-align: right;
	font-style: italic;
	padding: 0 2px 7px 10px;
	margin: 20px 0 0 0;
	font-size: 1.44em;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	height: auto;
	}
	
	.item .on_sale a,
	.item .exclusive a,
	#productimagebrowser .on_sale a,
	#productimagebrowser .exclusive a {
		color: #fff;
		}
	
.item .on_sale,
#productimagebrowser .on_sale {	
	background: url(/images/shared/products/sale_background.gif) #3b86a7 repeat-x;
	}
	
.item .exclusive,
#productimagebrowser .exclusive {
	background: url(/images/shared/products/exclusive_background.gif) #3b86a7 repeat-x;
	}

#productimagebrowser .zoomoverlay {
	background: url(/images/shared/zoom_icon.gif) bottom right no-repeat;
	display: block;
	width: 46px;
	height: 59px;
	position: absolute;
	top: 411px;
	right: 10px;
	cursor: pointer;
	}
	
#productimagebrowser a#mainimagelink img {
	margin: 0;
	}
/*end product overlay bits*/

#productimagebrowser #img_group {
	float: right;
	margin: 10px 10px 0 0;
	}
	
	#productimagebrowser #img_group a {
		margin: 0 0 0 10px;
		}


/*help links */
/*add icons with bg images */
/*end help links */
.hide {
	display: none;
	}

/*definition list for prices and product details*/
/*these can be applied to the dd or dt elements the list*/
.details dt.was {
	font-style: italic;
	width: auto;
	padding-right: 0.5em;
	}
	
.details dd.was {
	text-decoration: line-through;
	color: #fff;
	font-style: italic;
	}
	
.details .now {
	font-weight: bold;
	}
	
.details .save {
	font-weight: bold;
	}
	
.item .details dt.now {
	display: none;
	}
	
	.item .details dd.now {
		float: none;
		}
	
/*end definition list for prices and product details*/

/*shopping basket page*/
/*basket and checkout tables*/
#basket_listing_table {
	width: 695px;
	clear: both;
	}
	
	.checkout_confirmation_table th {
		background: #595959;
		border: none;
		color: #000;
		padding: 10px 5px;
		}
		
	.checkout_confirmation_table td {
		border: none;
		border-bottom: 1px solid #595959;
		padding: 10px 5px;
		color: #b8b8b8;
		font-weight: bold;
		}
		
#basket_listing_table th {
	background-color: #595959;
	}
	
	#basket_listing_table tfoot th,
	#basket_listing_table tfoot td {
		background: none;
		border-top: 1px solid #595959;
		}
		
#basket_listing_table td, #basket_listing_table th {
	border: none;
	padding: 0.3em;
	vertical-align: top;
	}
	
#basket_listing_table #code, #basket_listing_table .code {
	width: 5em;
	vertical-align: top;
	}
	
.checkout_confirmation_table .product_thumb, #basket_listing_table #product_thumb, #basket_listing_table .product_thumb {
	width: 6em;
	text-align: center;
	vertical-align: top;
	}
	
.checkout_confirmation_table .description, #basket_listing_table #description, #basket_listing_table .description {
	vertical-align: top;
	}
	
.checkout_confirmation .quantity, #basket_listing_table #quantity, #basket_listing_table .quantity {
	width: 4em;
	text-align: center;
	vertical-align: top;
	}
	
.checkout_confirmation_table .quantity, #basket_listing_table #quantity {
	vertical-align: top;
	}
	
#basket_listing_table .quantity input {
	width: 2em;
	background: #000;
	border: 1px solid #595959;
	text-align: center;
	font-size: 1.33em;
	padding: 0.31em;
	}

#basket_listing_table .quantity label {
	height: 0;
	overflow: hidden;
	padding: 0;
	}
	
.checkout_confirmation_table .price, #basket_listing_table #price, #basket_listing_table .price {
	width: 5em;
	vertical-align: top;
	}
	
.checkout_confirmation_table .line_total, #basket_listing_table #line_total, #basket_listing_table .line_total {
	width: 5em;
	vertical-align: top;
	text-align: right;
	}
	
#basket_listing_table #delete, #basket_listing_table .delete {
	width: 6em;
	vertical-align: top;
	}
	
/*table cells 'th's should have same width as 'td's if used*/
/*used classes as there multiple instances of the table*/
th.sub_total,
td.sub_total,
td.php_vat_total,
th.vat_total,
td.vat_total,
th.postage_total,
td.postage_total,
th.grand_total,
td.grand_total,
th.voucher_total,
td.voucher_total,
th.promo_total,
td.promo_total {
	text-align: right;
	}
/*end basket and checkout tables*/

/*orders table*/
/*only one table here so  the # should be the th and the . should be the td*/
#total, .total {
	text-align: right;
	}
/*status rows - 'tr's*/
.dispatched {
	}
.payment_received {
	}
.processing {
	}
.problem {
	}
/*end status rows*/

/*end orders table*/

/*order summary table when view order details*/
/*these are rows not cells!*/
#order_summary .order_number {
	}
	
#order_summary .created {
	}
	
#order_summary .php_vat_total {
	}
	
#order_summary .vat_total {
	}
	
#order_summary .promo_total {
	}
	
#order_summary .voucher_total {
	}
	
#order_summary .postage_total {
	}
	
#order_summary .grand_total {
	}
/*end order summary table*/

/*basket buttons*/
#basket_buttons li {
	list-style: none;
	float: left;
	display: block;
	}
	
#basket_buttons li a {
	display: block;
	margin: 0 1em 0 0;
	}
	
.update_basket_button {
	background-color: #F8D202;
	cursor: pointer;
	color: #000;
	}
/*end basket buttons*/

/*end shopping basket page*/


/*pagination*/
/*pagination stuff mainly*/
.paging {
	background: #2e3031;
	margin: 0 0 1em 0;
	color: #727272;
	width: 43.45em;
	overflow: hidden;
	display: block;
	}
	
	#links .paging {
		width: 30em;
		}
		
.num_items {
	background: #2e3031;
	float: left;
	margin: 0;
	padding: 5px;
	}
	
.paging ul {
	margin: 0;
	}
	
ul.page_nav {
	float:right;
	margin: 5px;
	}
	
.sorting,
.page_nav {
	float:left;
	margin: 5px;
	font-size: 0.69em;
	}
	
.sorting span,
.page_nav a {
	display: block;
	float:left;
	padding: 1px 5px;
	}	
	
	.page_nav a.on {
		background: black;
		color: #F0BC01;
		}
	
	.page_nav li.first_page a,
	.page_nav li.previous_page a,
	.page_nav li.next_page a,
	.page_nav li.last_page a {		
		overflow: hidden;
		text-indent: 15px;
		padding: 0;
		}
	
	.page_nav li.first_page a {
		background: url(/images/shared/paging_first.gif) 0 4px no-repeat;
		width: 13px;
		}
		
	.page_nav li.previous_page a {		
		background: url(/images/shared/paging_previous.gif) 0 4px  no-repeat;
		width: 9px;
		}
		
	.page_nav li.next_page a {		
		background: url(/images/shared/paging_next.gif) 0 4px  no-repeat;
		width: 9px;		
		}
	
	.page_nav li.last_page a {
		background: url(/images/shared/paging_last.gif) 0 4px  no-repeat;		
		width: 13px;
		}
		
		
.sorting ul {
	float:left;
	padding: 1px 1em 1px 0;
	font-size: 1em;
	}

ul.sort_order li.sort_up span {
	background: url(/images/shared/asc_on.gif) no-repeat 5px 6px #212223;
	text-indent: 15px;
	}

	ul.sort_order li.sort_up a span {
		background-image: url(/images/shared/asc_off.gif);
		background-color: transparent;
		}
		
ul.sort_order li.sort_down span {
	background: url(/images/shared/dsc_on.gif) no-repeat 5px 6px #212223;
	text-indent: 15px;
	}

	ul.sort_order li.sort_down a span {
		background-image: url(/images/shared/dsc_off.gif);
		background-color: transparent;
		}
	
/*unlikely ever to be this simple but keep the structure and nest spans displayed as blocks in the 'li's to the bells and whistles*/
.paging li {
	background: none;
	display: block;
	float:left;
	list-style: none;
	margin: 0 0 0 5px;
	padding: 0;
	}
	
.paging li span {	
	font-size: 1em;	
	background: #212223;
	color: #F0BC01;
	}	
	
	.paging li a {
		color: #727272;
		cursor: pointer;
		}	
		
	.paging li a span {
		background: none;
		color: #727272;
		}
	
	.paging li.all_paged {
		font-weight: bold;
		}
	
.paging a.activepaging {
	font-weight: bold;
	}
	
	.paging li.sort_down,
	.paging li.all_paged,
	.paging li.last,
	.paging li.last_page /*.paging li.previous_page,*/ /*.paging li.next_page,*/ /*.paging li.first_page*/ {
		border: none;
		}
		
/*search results*/
.show_all_brands {
	clear: both;
	padding: 0.5em 0 0.5em 0;
	}
/*end search results*/


#big_image {
	text-align: center;
	}
/*end popupimages*/

/*end pagination*/
/*faceted search*/
.facet ul li{
	display: block;
	float: left;
	list-style: none;
	margin: 0 1px 0 0;
	padding: 0
	}
	
.facet ul li a {
	display: block;
	padding: 3px;
	border: 1px solid red;
	}
	
#facetedsearch #currentselection ul li {
	margin: 0;
	padding: 3px; 
	border: 1px solid red;
	list-style: none;
	width: 40%;
	}

/*end faceted search*/
/*bookmarking*/
#facebook {
	background: transparent url(/images/aggregators/facebook.gif) no-repeat 0 0;
	height: 36px;
	width: 36px;
	display: block;
	}
	
#twitter {
	background: transparent url(/images/aggregators/twitter.gif) no-repeat 0 0;
	height: 36px;
	width: 36px;
	display: block;
	}
/*end bookmarking*/

/*account centre*/
#content_left ul.account_nav li ul li {	
	background: url(/images/shared/bullet_white.gif) 0 7px no-repeat;
	font-weight: bold;
	padding-left: 13px;
	}
/*account centre*/
/*footer*/
#footer {
	background: url(/images/shared/footer_background.png) no-repeat;
	height: 303px;
	margin-bottom: -50px;
	padding: 10px 0 0 0;
	}
	
#footer #mini_logo a {
	background: transparent url(/images/shared/logo/drunknmunky-store_mini-logo.png);
	text-indent: -100000px;
	display: block;
	padding: 0 0 27px 0;
	width: 264px;
	height: 0;
	overflow: hidden;
	margin: 0;
	}
	
#footer #copyright,#footer #mini_logo {
	padding-left: 25px;
	}
	
#footer #copyright p {
	float:left;
	color: #f8d202;
	font-size: 0.88em;
	font-weight: bold;
	font-style: italic;
	margin: 0.31em 0 0 0;
	padding: 0;
	}
	
#footer p {
	font-style: italic;
	color: #a6aeb3;
	text-align: right;
	padding-right: 20px;
	}
	
#footer p#strange {
	margin: 0 20px 0 0;
	background: #1b1b1b;
	float: right;
	}
	
	#footer p#strange a {
		background: url(/images/shared/sitebystrange-invert.gif) no-repeat;
		display: block;
		width: 117px;
		height: 16px;
		margin: 5px 10px 5px 5px;
		position: relative;
		overflow: hidden;
		}
		
	#footer p#strange a span {
		top: -200px;
		position: absolute;
		}
		
#footer a#securetrading {
	display: block;
	margin: 25px 0 25px 30px;
	width: 190px;
	}
	
	#footer a#securetrading img {
		margin: 0;
		}
	
/*end panels*/

.fleft {
	float: left;
	}

.fright {
	float: right;
	}

/*popupimages*/
body#popupwindow {
	background: #000;
	position: relative;
	text-align: left;
	}
	
	body#popupwindow #popupinfo {
		padding: 10px;
		}
		
	body#popupwindow h1 {
		margin-left: 0;
		margin-right: 0;
		line-height: normal;
		}
	
	body#popupwindow a {		
		background: #000;
		color: #F8D202;
		padding: 3px 4px;
		border: 1px solid #F8D202;
		}
		
		body#popupwindow a:hover {
			border: none;
			background: #F8D202;
			padding: 4px 5px;
			color: #000;
			}
	
	body#popupwindow p.closepopup {
		text-align: right;
		padding: 0 0 10px 0;
		display: block;
		margin: 0 auto;
		}
		
	body#popupwindow p.closepopup a {
		display: block;
		float: right;
		}
		
	body#popupwindow .image_nav {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		}
		
	body#popupwindow .images {
		clear: both;
		}	
		
	body#popupwindow .images a {
		border: none;
		padding: 0;
		margin: 0 10px;
		background: none;
		}
		
	body#popupwindow .prodtext {
		margin: 0 auto;
		}
		
	body#popup .images,			
	body#popup .prodtext {
		margin: 10px 30px;
		}
		
		body#popup .images a {
			margin: 0 10px 0 0;	
			}
			
	body#popup #crumbtrail,
	body#popup h1 {
		margin: 0 30px;
		}
		
.heightfix {
	height: 22em;
	overflow: hidden;
	}
	
.heightfix h3 {
	height: 2.5em;
	overflow: hidden;
	}
	
.heightfix p {
	height: 4em;
	overflow: hidden;
	}
	
	.heightfix p.button {
		overflow: visible;
		}
	
#content_left .item.heightfix,
#content_right .item.heightfix {
	height: auto;
	}
	
#discounts label,
#discounts2 label  {
  width: auto;
  }
  
#welcomepanel {
  padding: 0 0 20px 0;
  }

#welcomepanel h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 5px;
  }
  
  #welcomepanel h2 a {
    background: url(/images/slidepanel-down.gif) right no-repeat;
    display: block;
    }
    
  #welcomepanel h2 a.active {
    background: url(/images/slidepanel-up.gif) right no-repeat; 
    display: block; 
    }

#welcomeslidelayer {
  }
  
  #welcomeslidelayer p {
    margin: 0;
    padding: 20px 20px 20px 0;
    }

#distributor {
	}
	
	#distributor #content_left .adobe-panel {
		text-align: center;
		margin: 10px 0 40px 0;
		}
	
	#distributor #content_main .box6 {
		float: right;
		margin-bottom: 200px;
		}
	
		#distributor #content_main .box6 h1 {
			margin-bottom: 40px;
			}
		
		#distributor #content_main .box6 p {
			line-height: 2.8em;
			}
		
		#distributor #content_main .box6 p a {
			background: url(/images/shared/pdficon_large.gif) no-repeat;
			margin: 0 0 0 25px;
			padding: 10px 0 10px 45px;
			}	