/*stili per il layout fluido*/
html,body{margin: 0;padding:0}
body{font-family: verdana;
	font-size: 80%;
	background-image:'1.jpg';
	}


/*stili generici, su header e footer*/
div#header{background-color:#272737;color: #FFCC00}
h1,h2{margin: 0;padding:0}
h1{padding-left:10px;font: bold 2.3em/80px; text-align:center}
h2{color: #AD6003;font-size: 1.5em}
div#footer a{color:#fff;font-weight: bold;text-decoration: underline}

/*stili specifici per il layout*/
div#navigation{float: left;width: 220px;\width:230px;w\idth:220px;padding: 1em 0 0 5px}
div#extra{float: right;width: 170px;\width:180px;w\idth:170px;padding: 55px 9px; background-color:#272737;color: #FFCC00;}
div#content{margin:0 200px 10px 230px;padding: 1em 10px;background-color: #272737;height:95%;  }
div#footer{clear:both; text-align:center; padding: 10px 0;
    background-color: #272737; color: #606060}

/*stili per la navigazione*/
div#navigation ul{margin: 0;padding: 0; list-style-type: none}
div#navigation li{margin: 0;padding: 0}
div#navigation a{color:#196003;font: normal bold 1.2em/1.4em text-decoration: none}
div#navigation a:hover{color: #AD6003;text-decoration: underline}
div#navigation a#activelink{color: #196003; text-decoration: none}
div#navigation p{font-size: 90%}
div#navigation {background-color:#272737;color: #FFCC00; padding: 130px 0}

/*stili per la sezione extra*/
div#extra div.newsbox{font-size: 90%;margin-bottom: 2em}
div#extra div.newsbox h2{color: #AD6003;font-size: 1.2em}
div#extra div.newsbox p{margin: 0}

table{ border-spacing: 10px 10px ;border: 2px solid black }
td {border: 2px solid black; text-align: center}
.mycenter{margin:auto; color: #FFCC00 }